In [331]:
import copy
import numpy as np
import os
import pandas as pd
pd.options.display.max_rows = 8

## 使い方
- pathを変更する

In [247]:
paths = ['tfidf_text/0thLayer','tfidf_text/1stLayer','tfidf_text/2ndLayer']

In [248]:
all_nodes = set()
link_dict = dict()
link_df = pd.DataFrame(columns=['from','to','value'])
for path in paths:
    files = os.listdir(path)
    for file in files:
        query,_ = os.path.splitext(file)
        if not query.startswith('.'):
            all_nodes.add(query)
            link_dict[query] = []
            records = []
            file = open('{0}/{1}.txt'.format(path,query),'r')
            lines = file.readlines()
            for i in range(20):
                to_query = lines[i].split(',')[0][2:-1]
                value = float(lines[i].split(',')[1][1:-2])
                if not query == to_query:  #セルフノード削除
                    all_nodes.add(to_query)
                    link_dict[query].append(to_query)
                    records.append([query, to_query, value])
            df_ = pd.DataFrame(records,columns=link_df.columns)
            link_df = link_df.append(df_)

# link_df.drop(link_df[link_df["to"]==link_df["from"]].index) 
link_df = link_df.reset_index(drop=True)

In [249]:
#link_df.to_csv('links.csv',encoding='utf-8',index=False)

In [250]:
#link_df = pd.read_csv('links.csv')

初期化

In [251]:
len(all_nodes)

2798

In [252]:
len(link_df)

11392

In [253]:
univs = {
    "東京大学":"from_ut",
    "京都大学":"from_ky",
    "早稲田大学":"from_wa",
    "慶應義塾大学":"from_ko",
    "明治大学":"from_me"
}

In [255]:
node_df = pd.DataFrame(
    index=range(len(all_nodes)), 
    columns=[
        'query',
        'from_ut',
        'from_ky',
        'from_wa',
        'from_ko',
        'from_me',
#         'label',
#         'shortest_step'
    ])
node_df['query'] = list(all_nodes)
node_df = node_df.fillna(float(99))

In [256]:
for key, value in univs.items():
    node_df.loc[node_df['query'] == key, value] = 0

1層目

In [257]:
from_querys = univs.keys()

In [258]:
next_step = link_df[link_df['from'].isin(from_querys)]

In [259]:
for from_query in from_querys:
    value = node_df.loc[node_df['query'] == from_query,column]
    for to_query in link_dict[from_query]:
        for column in columns:
            node_df.loc[node_df['query'] == to_query, column] = value

dict版

In [286]:
node_dict = {}
for query in all_nodes:
    node_dict[query] = {
    "from_ut":99,
    "from_ky":99,
    "from_wa":99,
    "from_ko":99,
    "from_me":99
}

#初期化
node_dict["東京大学"]["from_ut"] = 0
node_dict["京都大学"]["from_ky"] = 0
node_dict["早稲田大学"]["from_wa"] = 0
node_dict["慶應義塾大学"]["from_ko"] = 0
node_dict["明治大学"]["from_me"] = 0

In [319]:
#1層目
from_querys = list(univs.keys())

In [320]:
for from_query in from_querys:
    distance_dict = copy.deepcopy(node_dict[from_query])
    for key in distance_dict.keys():
        distance_dict[key] += 1
    try:
        for to_query in link_dict[from_query]:
            for key in univs.values():
                node_dict[to_query][key] = min(distance_dict[key],node_dict[to_query][key])
    except KeyError:
        print(from_query)

In [321]:
#2層目
next_step = link_df[link_df['from'].isin(from_querys)]

from_querys = list(next_step["to"])

In [322]:
for from_query in from_querys:
    distance_dict = copy.deepcopy(node_dict[from_query])
    for key in distance_dict.keys():
        distance_dict[key] += 1
    try:
        for to_query in link_dict[from_query]:
            for key in univs.values():
                node_dict[to_query][key] = min(distance_dict[key],node_dict[to_query][key])
    except KeyError:
        print(from_query)

三つ
構成
～
ライフ
UTokyo

In [323]:
#3層目
next_step = link_df[link_df['from'].isin(from_querys)]

from_querys = list(next_step["to"])

In [324]:
for from_query in from_querys:
    distance_dict = copy.deepcopy(node_dict[from_query])
    for key in distance_dict.keys():
        distance_dict[key] += 1
    try:
        for to_query in link_dict[from_query]:
            for key in univs.values():
                node_dict[to_query][key] = min(distance_dict[key],node_dict[to_query][key])
    except KeyError:
        print(from_query)

組合
事業
会社
共済
設立
概要
企業
安心
技術
株式会社
生活
教員
宮城大学
アクティビティ
技術
コメダ
御井
大正大学
建
山口大学
札幌
運行
路線
神戸
店舗
時刻
運賃
関西学院大学
平野
バス
母親
物理
Km
km
西日本
スパイ
組合
T
].
[
JAN
C
生活
事業
技術
店舗
時刻
バス
企業
株式会社
≫
事業
企業
教員
the
of
and
to
in
a
is
'
ミッション
s
The
an
with
by
WITH
for
that
A
スタジオ
開催
TOHO
～
事業
教員
生活
ICT
VISION
SOUND
開発
MUSEUM
事業
企業
株式会社
!
&
://
·-
the
店舗
生活
～
店舗
組合
共済
事業
事業
生活
札幌
運賃
時刻
バス
企業
技術
事業
開発
ƒ
?
‚
€
??
Œ
絖
鐚
š
Ÿ
—
筝
'
???
ぇ
•
紅
是
红
彩
了
我
有
刷
部首
NARS
膚
容
妝
修
亮
讓
女
花
事業
～
バス
時刻
運賃
路線
-.
開催
バス
事業
概要
）.
概要
品質
技術
開発
成果
開催
共同
産業
報告
山口大学
）.
学術
核
大会
専門医
開催
認定
集会
幼稚園
電子

In [329]:
list_of_list = []
for key, value in node_dict.items():
    list_of_list.append([key,value['from_ut'],value['from_ky'],value['from_wa'],value['from_ko'],value['from_me']])
node_df = pd.DataFrame(list_of_list,columns=['query','from_ut','from_ky','from_wa','from_ko','from_me'])

In [334]:
node_df['shortest_step'] = np.min(node_df[list(univs.values())],axis=1)

In [335]:
node_df

     query  from_ut  from_ky  from_wa  from_ko  from_me  shortest_step
0     付き添い        4        4        4        3        4              3
1        物        4        3        4        4        3              3
2       暴風        3        4        4        4        4              3
3       各駅        3        3        4        3        3              3
...    ...      ...      ...      ...      ...      ...            ...
2794    転職        3        4        3        3        3              3
2795   医薬品        3        3        4        3        4              3
2796    急ぎ        3        3        3        3        3              3
2797    動き        3        4        3        3        3              3

[2798 rows x 7 columns]

In [ ]:
node_df = pd.DataFrame(
    index=range(len(all_nodes)), 
    columns=[
        'query',
        'from_ut',
        'from_ky',
        'from_wa',
        'from_ko',
        'from_me',
#         'label',
#         'shortest_step'
    ])
node_df['query'] = list(all_nodes)
node_df = node_df.fillna(float(99))