In [83]:
import copy
import numpy as np
import os
import pandas as pd
pd.options.display.max_rows = 8

## 使い方
- pathを変更する

In [84]:
paths = ['tfidf_text/0thLayer','tfidf_text/1stLayer','tfidf_text/2ndLayer']

In [85]:
all_nodes = set()
link_dict = dict()
link_df = pd.DataFrame(columns=['from','to','value'])

querys = [os.path.splitext(x)[0] for x in os.listdir('tfidf_text/0thLayer')]
for path in paths:
    next_querys = []
    for query in querys:
        if not query.startswith('.'):
            all_nodes.add(query)
            link_dict[query] = []
            records = []
            try:
                file = open('{0}/{1}.txt'.format(path,query),'r')
            except FileNotFoundError:
                continue
            lines = file.readlines()
            for i in range(20): #TF値上位5個
                to_query = lines[i].split(',')[0][2:-1]
                value = float(lines[i].split(',')[1][1:-2])
                if not query == to_query:  #セルフノード削除(例外処理)
                    all_nodes.add(to_query)
                    link_dict[query].append(to_query)
                    records.append([query, to_query, value])
                    next_querys.append(to_query)
            df_ = pd.DataFrame(records,columns=link_df.columns)
            link_df = link_df.append(df_)
            
    querys = next_querys

link_df = link_df.drop_duplicates(['from','to']).reset_index(drop=True)

In [86]:
link_df

         from    to     value
0      慶應義塾大学    研究  0.025952
1      慶應義塾大学    学部  0.022282
2      慶應義塾大学     月  0.020959
3      慶應義塾大学    学生  0.020782
...       ...   ...       ...
11288      高齢  サービス  0.022773
11289      高齢    老人  0.022235
11290      高齢    申請  0.021182
11291      高齢    連合  0.021083

[11292 rows x 3 columns]

初期化

In [87]:
len(link_dict)

682

In [88]:
len(all_nodes)

2777

In [89]:
len(link_df)

11292

In [90]:
tmp = pd.DataFrame()
tmp['from'] = link_df['to']
tmp['to'] = link_df['from']
tmp['value'] = link_df['value']
link_df = link_df.append(tmp)
link_df.reset_index(drop=True)

new_link_dict = copy.deepcopy(link_dict)
for key,value in link_dict.items():
    for val in value:
        if val in link_dict.keys():
            new_link_dict[val].append(key)
        else:
            new_link_dict[val] = [key]
link_dict = new_link_dict

In [91]:
univs = {
    "東京大学":"from_ut",
    "京都大学":"from_ky",
    "早稲田大学":"from_wa",
    "慶應義塾大学":"from_ko",
    "明治大学":"from_me"
}

df版

In [92]:
# node_df = pd.DataFrame(
#     index=range(len(all_nodes)), 
#     columns=[
#         'query',
#         'from_ut',
#         'from_ky',
#         'from_wa',
#         'from_ko',
#         'from_me',
# #         'label',
# #         'shortest_step'
#     ])
# node_df['query'] = list(all_nodes)
# node_df = node_df.fillna(float(99))

In [93]:
# for key, value in univs.items():
#     node_df.loc[node_df['query'] == key, value] = 0

In [94]:
# from_querys = univs.keys()

In [95]:
# next_step = link_df[link_df['from'].isin(from_querys)]

In [96]:
# for from_query in from_querys:
#     value = node_df.loc[node_df['query'] == from_query,univs.values()]
#     for to_query in link_dict[from_query]:
#         for column in univs.values():
#             node_df.loc[node_df['query'] == to_query, column] = value

dict版

In [97]:
def check_layer(from_querys,node_dict,link_dict,univs):
    for from_query in from_querys:
        distance_dict = copy.deepcopy(node_dict[from_query])
        for key in distance_dict.keys():
            distance_dict[key] += 1
        try:
            for to_query in link_dict[from_query]:
                for key in univs.values():
                    node_dict[to_query][key] = min(distance_dict[key],node_dict[to_query][key])
        except KeyError:
            pass
    
    return node_dict

In [98]:
def get_next_from_querys(link_df,from_querys):
    next_step = link_df[link_df['from'].isin(from_querys)]
    
    return list(next_step['to'])

In [99]:
node_dict = {}
for query in all_nodes:
    node_dict[query] = {
    "from_ut":99,
    "from_ky":99,
    "from_wa":99,
    "from_ko":99,
    "from_me":99
}

#初期化
node_dict["東京大学"]["from_ut"] = 0
node_dict["京都大学"]["from_ky"] = 0
node_dict["早稲田大学"]["from_wa"] = 0
node_dict["慶應義塾大学"]["from_ko"] = 0
node_dict["明治大学"]["from_me"] = 0

In [100]:
#1層目
from_querys = list(univs.keys())

In [101]:
for x in range(30):
    node_dict = check_layer(from_querys,node_dict,link_dict,univs)
    from_querys = get_next_from_querys(link_df,from_querys)

In [102]:
list_of_list = []
for key, value in node_dict.items():
    list_of_list.append([key,value['from_ut'],value['from_ky'],value['from_wa'],value['from_ko'],value['from_me']])
node_df = pd.DataFrame(list_of_list,columns=['query','from_ut','from_ky','from_wa','from_ko','from_me'])

In [103]:
node_df['shortest_step'] = np.min(node_df[list(univs.values())],axis=1)

In [104]:
for column in ['ut','ky','wa','ko','me']:
    node_df['label_{}'.format(column)] = node_df['from_{}'.format(column)] == node_df['shortest_step']

In [105]:
univ_df = pd.DataFrame()
univ_df = univ_df.append(node_df[node_df['query'] == '東京大学']).append(node_df[node_df['query'] == '京都大学'].append(node_df[node_df['query'] == '明治大学'])).append(node_df[node_df['query'] == '早稲田大学']).append(node_df[node_df['query'] == '慶應義塾大学'])

In [106]:
univ_df

,query,from_ut,from_ky,from_wa,from_ko,from_me,shortest_step,label_ut,label_ky,label_wa,label_ko,label_me
2708,東京大学,0,2,3,2,3,0,True,False,False,False,False
1906,京都大学,2,0,3,2,4,0,False,True,False,False,False
786,明治大学,3,4,5,3,0,0,False,False,False,False,True
1948,早稲田大学,3,3,0,3,5,0,False,False,True,False,False
1402,慶應義塾大学,2,2,3,0,3,0,False,False,False,True,False

In [107]:
node_df = node_df.drop(univ_df.index)

In [108]:
node_df = univ_df.append(node_df).reset_index(drop=True)

In [109]:
node_df['index'] = node_df.index

In [110]:
node_df

,query,from_ut,from_ky,from_wa,from_ko,from_me,shortest_step,label_ut,label_ky,label_wa,label_ko,label_me,index
0,東京大学,0,2,3,2,3,0,True,False,False,False,False,0
1,京都大学,2,0,3,2,4,0,False,True,False,False,False,1
2,明治大学,3,4,5,3,0,0,False,False,False,False,True,2
3,早稲田大学,3,3,0,3,5,0,False,False,True,False,False,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2773,tenki,3,3,4,3,4,3,True,True,False,True,False,2773
2774,くらし,3,3,3,3,4,3,True,True,True,True,False,2774
2775,カウントダウン,2,2,3,2,4,2,True,True,False,True,False,2775
2776,入会,3,3,3,3,4,3,True,True,True,True,False,2776

In [111]:
def get_node_index(x):
    number = node_df[node_df['query']==x]['index']
    return int(number)

In [112]:
link_df['from_id'] = link_df['from'].map(get_node_index)
link_df['to_id'] = link_df['to'].map(get_node_index)

In [113]:
link_df

         from  to     value  from_id  to_id
0      慶應義塾大学  研究  0.025952        4   1672
1      慶應義塾大学  学部  0.022282        4    607
2      慶應義塾大学   月  0.020959        4   1554
3      慶應義塾大学  学生  0.020782        4   1752
...       ...  ..       ...      ...    ...
11288    サービス  高齢  0.022773     1095   1412
11289      老人  高齢  0.022235     2105   1412
11290      申請  高齢  0.021182     2679   1412
11291      連合  高齢  0.021083      974   1412

[22584 rows x 5 columns]

In [114]:
# node_df.to_csv('nodes.csv')
# # link_df = link_df.iloc[:int(len(link_df)/2)]
# link_df.to_csv('links.csv')

In [115]:
import random

def set_label(x):
    label = []
    univ = ['ut','ky','me','wa','ko']
    for i in range(len(univ)):
        if x['label_{}'.format(univ[i])]:
            label.append(i)
    return random.choice(label)

In [116]:
node_df['label'] = node_df.apply(set_label,axis=1)

In [117]:
labeled_df = node_df.loc[:,['index','label']]

In [118]:
labeled_df

      index  label
0         0      0
1         1      1
2         2      2
3         3      3
...     ...    ...
2773   2773      0
2774   2774      0
2775   2775      1
2776   2776      0

[2777 rows x 2 columns]

In [119]:
# node_df.to_csv('nodes20.csv')
# link_df.to_csv('links20.csv')
# labeled_df.to_csv('labels20.csv')