In [128]:
import copy
import numpy as np
import os
import pandas as pd
pd.options.display.max_rows = 8

## 使い方
- pathを変更する

In [139]:
paths = ['tfidf_text/0thLayer','tfidf_text/1stLayer','tfidf_text/2ndLayer']

In [140]:
all_nodes = set()
link_dict = dict()
link_df = pd.DataFrame(columns=['from','to','value'])
for path in paths:
    files = os.listdir(path)
    for file in files:
        query,_ = os.path.splitext(file)
        if not query.startswith('.'):
            all_nodes.add(query)
            link_dict[query] = []
            records = []
            file = open('{0}/{1}.txt'.format(path,query),'r')
            lines = file.readlines()
            for i in range(20):
                to_query = lines[i].split(',')[0][2:-1]
                value = float(lines[i].split(',')[1][1:-2])
                if not query == to_query:  #セルフノード削除
                    all_nodes.add(to_query)
                    link_dict[query].append(to_query)
                    records.append([query, to_query, value])
            df_ = pd.DataFrame(records,columns=link_df.columns)
            link_df = link_df.append(df_)

# link_df.drop(link_df[link_df["to"]==link_df["from"]].index) 
link_df = link_df.reset_index(drop=True)

In [141]:
#link_df.to_csv('links.csv',encoding='utf-8',index=False)

In [142]:
#link_df = pd.read_csv('links.csv')

初期化

In [149]:
len(link_dict)

2784

In [148]:
len(all_nodes)

2798

In [147]:
len(link_df)

22784

In [146]:
tmp = pd.DataFrame()
tmp['from'] = link_df['to']
tmp['to'] = link_df['from']
tmp['value'] = link_df['value']
link_df = link_df.append(tmp)
link_df.reset_index(drop=True)

new_link_dict = copy.deepcopy(link_dict)
for key,value in link_dict.items():
    for val in value:
        if val in link_dict.keys():
            new_link_dict[val].append(key)
        else:
            new_link_dict[val] = [key]
link_dict = new_link_dict

In [150]:
univs = {
    "東京大学":"from_ut",
    "京都大学":"from_ky",
    "早稲田大学":"from_wa",
    "慶應義塾大学":"from_ko",
    "明治大学":"from_me"
}

df版

In [151]:
# node_df = pd.DataFrame(
#     index=range(len(all_nodes)), 
#     columns=[
#         'query',
#         'from_ut',
#         'from_ky',
#         'from_wa',
#         'from_ko',
#         'from_me',
# #         'label',
# #         'shortest_step'
#     ])
# node_df['query'] = list(all_nodes)
# node_df = node_df.fillna(float(99))

In [152]:
# for key, value in univs.items():
#     node_df.loc[node_df['query'] == key, value] = 0

In [153]:
# from_querys = univs.keys()

In [154]:
# next_step = link_df[link_df['from'].isin(from_querys)]

In [155]:
# for from_query in from_querys:
#     value = node_df.loc[node_df['query'] == from_query,univs.values()]
#     for to_query in link_dict[from_query]:
#         for column in univs.values():
#             node_df.loc[node_df['query'] == to_query, column] = value

dict版

In [157]:
def check_layer(from_querys,node_dict,link_dict,univs):
    for from_query in from_querys:
        distance_dict = copy.deepcopy(node_dict[from_query])
        for key in distance_dict.keys():
            distance_dict[key] += 1
        try:
            for to_query in link_dict[from_query]:
                for key in univs.values():
                    node_dict[to_query][key] = min(distance_dict[key],node_dict[to_query][key])
        except KeyError:
            pass
    
    return node_dict

In [158]:
def get_next_from_querys(link_df,from_querys):
    next_step = link_df[link_df['from'].isin(from_querys)]
    
    return list(next_step['to'])

In [161]:
node_dict = {}
for query in all_nodes:
    node_dict[query] = {
    "from_ut":99,
    "from_ky":99,
    "from_wa":99,
    "from_ko":99,
    "from_me":99
}

#初期化
node_dict["東京大学"]["from_ut"] = 0
node_dict["京都大学"]["from_ky"] = 0
node_dict["早稲田大学"]["from_wa"] = 0
node_dict["慶應義塾大学"]["from_ko"] = 0
node_dict["明治大学"]["from_me"] = 0

In [162]:
#1層目
from_querys = list(univs.keys())

In [163]:
for x in range(10):
    node_dict = check_layer(from_querys,node_dict,link_dict,univs)
    from_querys = get_next_from_querys(link_df,from_querys)

In [164]:
list_of_list = []
for key, value in node_dict.items():
    list_of_list.append([key,value['from_ut'],value['from_ky'],value['from_wa'],value['from_ko'],value['from_me']])
node_df = pd.DataFrame(list_of_list,columns=['query','from_ut','from_ky','from_wa','from_ko','from_me'])

In [165]:
node_df['shortest_step'] = np.min(node_df[list(univs.values())],axis=1)

In [166]:
for column in ['ut','ky','wa','ko','me']:
    node_df['label_{}'.format(column)] = node_df['from_{}'.format(column)] == node_df['shortest_step']

In [167]:
node_df

,query,from_ut,from_ky,from_wa,from_ko,from_me,shortest_step,label_ut,label_ky,label_wa,label_ko,label_me
0,画数,4,4,4,4,3,3,False,False,False,False,True
1,素材,3,3,3,3,3,3,True,True,True,True,True
2,サイバー,3,3,3,3,3,3,True,True,True,True,True
3,月行事,2,2,2,2,2,2,True,True,True,True,True
...,...,...,...,...,...,...,...,...,...,...,...,...
2794,ウォーカー,3,3,3,3,3,3,True,True,True,True,True
2795,本体,3,3,3,3,3,3,True,True,True,True,True
2796,電線,3,3,3,3,3,3,True,True,True,True,True
2797,生活,2,2,2,2,2,2,True,True,True,True,True

In [170]:
node_df.to_csv('nodes.csv')

In [169]:
node_df.loc[360,:]

query       START
from_ut         3
from_ky         3
from_wa         3
            ...
label_ky     True
label_wa     True
label_ko     True
label_me     True
Name: 360, dtype: object